.connectionCard {
  /*background-color: transparent;*/
}

.connectionCard .realName {
  
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.connectionCard .realName p {
  background-color: transparent;
  width: 50%;
  padding: 10px;
}