.connectionContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  min-height: 80vh;
  min-width: 100vw;
}

.connectionSubContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 45%;
}

.connectionCards {
  border: 1px solid black;
  padding: 5px;
  height: 100%;
  width: 100%;
}

.connectionCards .connectionCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
}

.connectionCards .connectionButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.connectionCards .connectionButtons button {
  border: none;
  background-color: transparent;
  color: dimgrey;
  font-size: 1rem;
  font-weight: bold;
}

.connectionCards .connectionButtons button:hover {
  background-color: deepskyblue;
}