.listContainer, .detailContainer, .paymentContainer, .historyContainer {
  display: flex;
  flex-direction:column;
  border: 1px solid black;
  padding: 5px;
}

.listContainer {grid-area: list;}
.detailContainer {grid-area: detail;}
.paymentContainer {grid-area: payment;}
.historyContainer {gird-area: history;}

.latestCards {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  min-height: 2vh;
}

.pageContainer {
  display: grid;
  justify-content: stretch;
  grid-gap: 1rem;
  grid-template-rows: max-content;
  grid-template-areas:
  "list"
  "history"
  "detail"  
  "payment";
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  /*padding: 20px;*/
  min-height: 80vh;
  width: 90vw;
}

@media only screen and (min-width: 600px)  {
  .pageContainer {
  grid-gap: 1fr 4fr;
  grid-template-areas:
  "list detail"
  "history payment";
  }
}