.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signup h2 {
  text-align: left;
  width: 90vw;
}

.signupItem.username {
  align-self: stretch;
  justify-self: stretch;
  grid-area: username;
}
.signupItem.password{grid-area: password;}
.signupItem.email{grid-area: email;}
.signupItem.firstName{grid-area: firstName;}
.signupItem.lastName{grid-area: lastName;}
.signupItem.description{grid-area: description;}
.signupItem.button{grid-area: button;}

.signupItem div {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  
  font-size: 1.2rem;
}

.signupItem p {
  display: block;
  text-align: left;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 100%;
  padding: 5px;
}

.signupItem .limitCounter {
  color: green;
  text-align: right;
}

.signupItem input {
  display: block;
  border: 1px solid darkgrey;
  font-size: 1.2rem;
  /*height: 100%;*/
  padding: 5px;
  width: 100%;
}

.signupItem input:disabled {
  background-color: lightgrey;
}

.signupItem textarea {
  display: block;
  border: 1px solid darkgrey;
  font-size: 1rem;
  padding: 5px;
  resize: none;
  height: 80px;
  width: 100%;
}

.signupItem.button {
  display: flex;
  justify-content: flex-end;
}

.signupItem.button button{
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  color: darkblue;
  width: 50%;
}

.signupItem.button button:disabled{
  color: #ffcccc;
}

.signupForm {
  display: grid;
  justify-content: stretch;
  grid-gap: .5rem;
  grid-template-rows: max-content;
  grid-template-areas:
    "username"
    "password"
    "firstName"
    "lastName"
    "email"
    "description"
    "button";
  width: 90vw;
}

@media only screen and (min-width: 600px)  {
  .signupForm {

  grid-template-columns: 2fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas:
    "username password"
    "firstName lastName"
    "email email"
    "description description"
    "... button";
  }
  
  .signupItem p {
    font-size: 1.2rem;
  }
  
  .signupItem input, .signupItem textarea {
    font-size: 1.5rem;
  }
  
  .signupItem.button button {
    font-size: 2rem;
  }
}


@media only screen and (min-width: 1024px)  {
  .signupForm {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    grid-template-areas:
      "username email email"
      "password firstName lastName"
      "description description description"
      "... ... button";
  }
  
  .signupItem p {
    font-size: 1.5rem;
  }
  
  .signupItem input, .signupItem textarea {
    font-size: 2rem;
  }
  
  .signupItem.button button {
    font-size: 2.5rem;
  }
}

.inputGood {
  background-color: #d3f8d3; /* 90% lightgreen */
}

.inputBad {
  background-color: #ffcccc;
}
