.App-navbar {
  color: darkgrey;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.App-navbar__title {
  margin: 0;
  color: DarkBlue;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.settings-icon, .menu-icon {
  transition: 0.5s;
  cursor: pointer;
}

.menu__avatar.menu-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: green;
  line-height: 60px;
  text-align: center;
  margin: 0;
}